.form{
	padding: 40px;
	background-color: #e7e7e7;
	border-radius: 20px;
	box-shadow: 0 15px 30px 5px rgb(0, 0, 0, 0.3);
}
.form input{
	border-color: transparent;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	font-family: Poppins;
}

button{
	background-color: #212121;
	color:white;
	border-radius: 5px;
	font-family: Poppins;
}

.submitbtn{
	background-color: lightblue;
	width: 100px;
	font-family: Poppins;
}



